.dart_tool/
build/
doc/api/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Mac
.DS_Store

*/secret.dart
frontend/lib/secret.dart

# Server
server/gpt-2/*
server/models/*
server/myenv/*
server/llama/*
server/Meta*/*
server/auth/secret.py

# Cache
*/__pycache__/*
